{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <nav>
            <ul>
              <li>
                <a href="{% url 'home' %}">Receipts</a>
              </li>
              <li>
                <a href="{% url 'account_list' %}">Accounts</a>
              </li>
              <li>
                <a href="{% url 'expense_category_list' %}">Expenses</a>
              </li>
              {% if user.is_authenticated %}
                <li>
                  <a href="{% url 'logout' %}">Logout</a>
                </li>
              {% else %}
                <li>
                    <a href="{% url 'signup' %}">Sign Up</a>
                </li>
                <li>
                  <a href="{% url 'login' %}">Login</a>
                </li>
              {% endif %}
            </ul>
          </nav>
        {% block content %}
        {% endblock content %} 
    </body>
</html>